/*=============================================
*                Typography                   
 =============================================*/

/* Font families */

@utility -font-primary {
  font-family: 'Montserrat', sans-serif;
}

@utility -font-secondary {
  font-family: 'Vollkorn', serif;
}

@utility -font-tertiary {
  font-family: 'Doto', sans-serif;
}

/* root font size / 100% = 16px */
/* 62.5% = 10px */
html {
  font-size: 62.5%;
  /* makes 1rem = 10px */
}

@theme {
  /* Heading font sizes */
  --text-h1-mobile: 3.6rem;
  --text-h1-tablet: 4.8rem;
  --text-h1-desktop: 6rem;

  --text-h2-mobile: 3rem;
  --text-h2-tablet: 3.6rem;
  --text-h2-desktop: 4.8rem;

  --text-h3-mobile: 2.4rem;
  --text-h3-tablet: 3rem;
  --text-h3-desktop: 3.6rem;

  --text-h4-desktop: 3rem;
  --text-h5-desktop: 2.4rem;
  --text-h6-desktop: 2rem;

  /* Font sizes */
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2rem;
  --text-2xl: 2.4rem;
  --text-3xl: 3rem;
  --text-4xl: 3.6rem;
  --text-5xl: 4.8rem;
  --text-6xl: 6rem;
  --text-7xl: 7.2rem;
  --text-8xl: 9.6rem;
  --text-9xl: 12.8rem;

  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  /*--font-black: 900;*/
}

/* project-wide font definitions */

html,
body {
  font-weight: var(--regular);
  line-height: 1.2;
  color: var(--text-dark);
}

/*=====  End of Typography  ======*/
