@utility -btn {
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;

  background-color: var(--color-gray-light);
  color: var(--color-text-dark);
  font-size: var(--text-sm);
  font-weight: var(--font-regular);
  text-decoration: none;

  transition: all 0.3s ease 0s;

  &:hover {
    background-color: var(--color-gray-dark);
    color: var(--color-text-light);
  }
}

@utility -btn-outline {
  border: 0.2rem solid var(--color-gray-dark);
}

@utility -btn-cta {
  background-color: var(--color-primary-light);
  border: none;

  &:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-text-light);
  }
}
