/* https://react-icons.github.io/react-icons/ */

@utility -icon-link {
  color: var(--color-blue);
  cursor: pointer;

  font-size: var(--text-2xl);
  @apply atLarge:text-3xl;

  transition: color 0.3s ease 0s;

  &:hover {
    color: var(--color-secondary-light);
  }
}

@utility -icon {
  color: var(--color-blue);

  font-size: var(--text-2xl);
  @apply atLarge:text-3xl;
}
